<div ng-controller="students_ctl">
	<div>
		<div class="container">
			<div class="row">
				<h2 class="sub-header">List of Students</h2>
				<div class="form-group">
					<button class="btn btn-primary " data-toggle="modal" data-target="#myModalAdd"><span class="glyphicon glyphicon-plus"></span>Add</button>
				</div>
			</div>
		</div>
		<table id="data_table" class="display text-center" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">No.</th>
					<th class="text-center">Student Code</th>
					<th class="text-center">Last Name</th>
					<th class="text-center">First Name</th>
					<th class="text-center">Email</th>
					<th class="text-center">Phone</th>
					<th class="text-center">University</th>
					<th class="text-center">Major</th>
					<th class="text-center">Status</th>
					<th class="text-center"></th>




					<th class="text-center"></th>
				</tr>
			</thead>

			<tfoot>
				<tr>
					<th class="text-center">No.</th>
					<th class="text-center">Student Code</th>
					<th class="text-center">Last Name</th>
					<th class="text-center">First Name</th>
					<th class="text-center">Email</th>
					<th class="text-center">Phone</th>
					<th class="text-center">University</th>
					<th class="text-center">Major</th>
					<th class="text-center">Status</th>
					<th class="text-center"></th>
				</tr>
			</tfoot>
		</table>
	</div>




	<!-- modal add -->
	<div class="modal fade container " id="myModalAdd" role="dialog">
		<div class="modal-dialog ">

			<!-- Modal content-->
			<div class="alert alert-success" ng-if="visibility==true">
				<strong>Success!</strong> You have successfully added member code: <b>{{id_stu}}</b>, name <b>{{lastname}}&nbsp;{{firstname}}</b>.
			</div>
			<form name="add" novalidate>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add Students</h4>
						<div class="col-md-6">
							<img class="col-md-6" src="images/image_add.jpg">

							<label class="control-label">Select Image</label>
							<input class="file" id="input-1" type="file">
						</div>
					</div>
					<div class="modal-body row">

						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Select Student</label>
							<div>
								<select style="width:95%; float:left" name="Student" ng-model="student.student" class="form-control">
									<option value = "" selected="selected">--Select Student--</option>
								 	<option ng-repeat="stu in students" value="{{stu.user_code}}">{{stu.lastname}}&nbsp;{{stu.firstname}}&nbsp;--&nbsp;{{stu.username}}</option>
								</select>
							</div>
							<ul class="error-msgs" ng-if="add.$submitted">
								<li ng-show="student1">Please enter into!</li>
							</ul>
						</div>

						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Intake Student</label>
							<div>
								<select style="width:95%; float:left" ng-options="intake as intake.int_code for intake in list_intake track by intake.int_code"
								 ng-model="student.intake" class="form-control">
								 <option value="">--Select Intake--</option>
								</select>
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Status Student</label>
							<div>
								<select style="width:95%; float:left" ng-options="status as status.name_ss for status in student_status track by status.code_ss"
								 ng-model="student.status_code" class="form-control">
								 <option value="">--Select Status--</option>
								</select>
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Gentle</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="First Name" ng-model="students.gender" name="strongSecret2"
								 required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs" ng-messages="add.strongSecret2.$error" ng-if="add.$submitted || add.strongSecret2.$dirty">
									<li ng-show="required2">Please enter into!</li>
								</ul>
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Birth Day</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="datepicker_Add" ng-model="student.birthday" name="strongSecret2"
								 ng-pattern="/^(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d+$/" required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs" ng-if="add.$submitted || add.strongSecret2.$dirty">
									<li ng-show="date1">Format: MM/DD/YYYY</li>
								</ul>
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-6 col-md-6" ng-directive="strongSecret1">
							<label>University Name</label>
							<div>
								<select style="width:95%; float:left" ng-options="univer as univer.univer_name for univer in list_university track by univer.univer_code"
								 ng-model="student.univer_code" class="form-control">
								 <option value="">--Select University--</option>
								</select>
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Major</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="First Name" ng-model="student.major" name="strongSecret2"
								 required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs" ng-messages="add.strongSecret2.$error" ng-if="add.$submitted || add.strongSecret2.$dirty">
									<li ng-show="required2">Please enter into!</li>
								</ul>
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Student Profile</label>
							<div style="max-height:100px; overflow: auto;">
								<div class="checkbox" ng-repeat="profile in student_profiles">
									<label> 
											<input type="checkbox" ng-click="check($index)" data-check="false" id="{{profile.id_profile}}" value="{{profile.id_profile}}"> 
											{{profile.name_profile}} 
										</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" ng-click="addstudents()"><span class="glyphicon glyphicon-plus"></span>Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>




	<!-- modal edit -->

	<div class="modal fade container " id="myModalEdit" role="dialog">
		<div class="modal-dialog ">

			<!-- Modal content-->
			<form name="edit" novalidate>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update Lecturer</h4>
						<img src="images/image_add.jpg">
					</div>
					<div class="modal-body row">
						<div class="form-group col-xs-12 col-sm-6 col-md-6" ng-directive="strongSecret">
							<label>Students Code</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="UserID" ng-model="editstudents.code_stu" maxlength="10"
								 name="strongSecret" strong-secret required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs">
									<li ng-show="exiss">User Code Exist</li>
									<li ng-show="require">Please enter into!</li>
								</ul>
								<ul class="error-msgs" ng-messages="edit.strongSecret.$error" ng-if="edit.$submitted || edit.strongSecret.$dirty">
									<li ng-message="invalid">Input must be valid</li>
									<li ng-message="normal">Input must be a-z or A-Z or 0-9 or letter " - " </li>
									<li ng-message="threeCharactersValidator">Strong secret has to least 3 characters long</li>
									<li ng-message="validnormal">Add letter after letter "-"</li>
								</ul>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Last Name</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="LastName" ng-model="editstudents.lastname" name="strongSecret1"
								 required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs" ng-messages="edit.strongSecret1.$error" ng-if="edit.$submitted || edit.strongSecret1.$dirty">
									<li ng-show="required1">Please enter into!</li>
								</ul>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>First Name</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="First Name" ng-model="editstudents.firstname" name="strongSecret2"
								 required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs" ng-messages="edit.strongSecret2.$error" ng-if="edit.$submitted || edit.strongSecret2.$dirty">
									<li ng-show="required2">Please enter into!</li>
								</ul>
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Gentle</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="First Name" ng-model="editstudents.gender" name="strongSecret2"
								 required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs" ng-messages="edit.strongSecret2.$error" ng-if="edit.$submitted || edit.strongSecret2.$dirty">
									<li ng-show="required2">Please enter into!</li>
								</ul>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Email</label>
							<div><input style="width:95%; float:left" type="email" class="form-control" id="Email" ng-model="editstudents.email">
								<span style="color:red">&nbsp;</span>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Phone</label>
							<div>
								<input style="width:95%; float:left" type="text" name='phone' class="form-control" ng-pattern="/^[0-9]+$/" id="Phone" ng-model="editstudents.phone">
								<span style="color:red">&nbsp;</span>
								<ul class="error-msgs" ng-if="add.phone.$dirty && add.phone.$invalid">
									<li>Please enter into number!</li>
								</ul>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Birth Day</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="datepicker_Edit" ng-model="editstudents.birthday"
								 name="strongSecret2" ng-pattern="/^(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d+$/" required>
								<span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs" ng-if="add.$submitted || add.strongSecret2.$dirty">
									<li ng-show="date1">Format: MM/DD/YYYY</li>
								</ul>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Address</label>
							<textarea style="width:95%" class="form-control" rows="3" ng-model="editstudents.address"></textarea>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6" ng-directive="strongSecret1">
							<label>University Name</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" name="strongSecret1" id="strongSecret1" ng-model="editstudents.univer_name"
								 required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs">
									<li ng-show="require2">Please enter into!</li>
								</ul>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Major</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" id="First Name" ng-model="editstudents.major" name="strongSecret2"
								 required><span style="color:red">&nbsp;&#42;</span>
								<ul class="error-msgs" ng-messages="edit.strongSecret2.$error" ng-if="edit.$submitted || edit.strongSecret2.$dirty">
									<li ng-show="required2">Please enter into!</li>
								</ul>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label style="display:block">Select status</label>
							<form>
								<label class="radio-inline">
											<input type="radio"  name ="status_Edit" value="1"  ng-model="editstudents.status" ng-checked="editstudents.status==1">
											Active
								</label>
								<label class="radio-inline">
											<input type="radio"  name ="status_Edit" value="0" ng-model="editstudents.status" ng-checked="editstudents.status==0">
											Inactive

								</label>
							</form>
						</div>






					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-warning" ng-click="updatestudents()"><span class="glyphicon glyphicon-edit"></span>Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>




	<!-- modal confirm -->
	<div class="container">
		<div class="modal fade" id="myModalConfirm" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">ARE YOU SURE</h4>

					</div>

					<div class="modal-body">
						<p>Do you want to remove data?</p>
					</div>

					<div class="modal-footer">

						<button style="color: blue" onMouseOver="this.style.background='#CB3D39'" onMouseOut="this.style.background='#F0F0F0'" type="button"
						 class="btn" data-dismiss="modal" ng-click='remove()'>Yes</button>
						<button style="color: blue" onMouseOver="this.style.background='#CB3D39'" onMouseOut="this.style.background='#F0F0F0'" type="button"
						 class="btn" data-dismiss="modal">No</button>

					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="myModalmessage" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title text-center">{{message}}</h4>
				</div>
			</div>

		</div>
	</div>

	<script type="text/javascript">
		$(function () {
			$("#datepicker_Add").datepicker();
			$("#datepicker_Edit").datepicker();
		});
	</script>
</div>