<div ng-controller="studentprofile_ctl">
	<div class="container">
		<div class="row">
			<h2 class="sub-header">List of Studentprofile</h2>
			<div class="form-group">
				<button class="btn btn-primary " data-toggle="modal" data-target="#myModalAdd"><span class="glyphicon glyphicon-plus"></span>Add</button>
			</div>
		</div>
	</div>
	<table id="data_table" class="display text-center" width="100%" cellspacing="0" datatables="ng">
		<thead>
			<tr>
				<th class="text-center">No.</th>
				<th class="text-center">ID</th>
				<th class="text-center">Code</th>
				<th class="text-center">Name</th>
				<th class="text-center">Status</th>
				<th class="text-center"></th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th class="text-center">No.</th>
				<th class="text-center">ID</th>
				<th class="text-center">Code</th>
				<th class="text-center">Name</th>
				<th class="text-center">Status</th>
				<th class="text-center"></th>
			</tr>
		</tfoot>

	</table>




	<div class="container">
		<!-- Modal Add content-->
		<div class="modal fade container " id="myModalAdd" role="dialog">
			<div class="modal-dialog ">
				<!-- Modal content-->
				<div class="alert alert-success" ng-if="visibility==true">
					<strong>Success!</strong> You have successfully added a  profile of student  with code: <b>{{code_profile}}</b>, name <b>{{name_profile}}</b>.
				</div>
				<form name="add" novalidate>
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Add Student profile</h4>
						</div>
						<div class="modal-body row" ng-directive="strongSecret">
							<div class="form-group col-xs-12 col-sm-6 col-md-6" >
								<label>Profile Code</label>
								<div>
									<input style="width:95%; float:left" type="text" class="form-control" id="coursename_Code" ng-model="studentprofile.code_profile" maxlength="10"
										name="strongSecret" strong-secret required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs" >
											<li ng-show="exiss">Profile Code Exist</li>
											<li ng-show="require1">Please enter into!</li>
										</ul>
										<ul class="error-msgs" ng-messages="add.strongSecret.$error" ng-if="add.$submitted || add.strongSecret.$dirty">
											<li ng-message="invalid">Input must be valid</li>
											<li ng-message="normal">Input must be a-z or A-Z or 0-9 or letter " - " </li>
											<li ng-message="threeCharactersValidator">Strong secret has to least 3 characters long</li>
											<li ng-message="validnormal">Add letter after letter "-"</li>
								
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6" >
								<label>Profile Name</label>
								<div>
									<input style="width:95%; float:left" type="text" class="form-control" id="coursename_Add" ng-model="studentprofile.name_profile" name="strongSecret1"
										required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs" ng-messages="add.strongSecret1.$error" ng-if="add.$submitted || add.strongSecret1.$dirty">
											<li ng-show="require2">Please enter into!</li>
										</ul>
								</div>
							</div>
						

						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" ng-click="addstudentprofile()"><span class="glyphicon glyphicon-plus"></span>Add</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>





	<div class="container">
		<!-- Modal Edit content-->
		<div class="modal fade container" id="myModalEdit" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<form name="edit" novalidate>
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Update Student Profile</h4>
						</div>
						<div class="modal-body row">
							<div class="form-group col-xs-12 col-sm-6 col-md-6" >
								<label>Profile Code</label>
								<div>
									<input style="width:95%; float:left" type="text" class="form-control" id="coursename_Code" ng-model="editstudentprofile.code_profile" maxlength="10"
										name="strongSecret" strong-secret required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs" >
											<li ng-show="exiss">Profile Code Exist</li>
											<li ng-show="require1">Please enter into!</li>
										</ul>
										<ul class="error-msgs" ng-messages="edit.strongSecret.$error" ng-if="edit.$submitted || edit.strongSecret.$dirty">
											<li ng-message="invalid">Input must be valid</li>
											<li ng-message="normal">Input must be a-z or A-Z or 0-9 or letter " - " </li>
											<li ng-message="threeCharactersValidator">Strong secret has to least 3 characters long</li>
											<li ng-message="validnormal">Add letter after letter "-"</li>
								
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6" >
								<label>Profile Name</label>
								<div>
									<input style="width:95%; float:left" type="text" class="form-control" id="coursename_Add" ng-model="editstudentprofile.name_profile" name="strongSecret1"
										required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs" ng-messages="edit.strongSecret1.$error" ng-if="edit.$submitted || edit.strongSecret1.$dirty">
											<li ng-show="require2">Please enter into!</li>
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label style="display:block">Select status</label>
								<form>
									<label class="radio-inline">
															<input type="radio"  name ="status_Edit" value="1" ng-model="editstudentprofile.status_profile" ng-checked="editstudentprofile.status_profile==1">
															Active
											</label>
									<label class="radio-inline">
															<input type="radio"  name ="status_Edit" value="0" ng-model="editstudentprofile.status_profile" ng-checked="editstudentprofile.status_profile==0">
															Inactive

											</label>
								</form>
							</div>

						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-warning" id="update_kh"   ng-click="updatestudent_profile()"><span class="glyphicon glyphicon-edit"></span>Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- modal confirm -->
	<div class="container">
		<div class="modal fade" id="myModalConfirm" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">ARE YOU SURE</h4>

					</div>

					<div class="modal-body">
						<p>Do you want to remove data?</p>
					</div>

					<div class="modal-footer">

						<button style="color: blue" onMouseOver="this.style.background='#CB3D39'" onMouseOut="this.style.background='#F0F0F0'" type="button"
							class="btn" data-dismiss="modal" ng-click='remove()'>Yes</button>
							<button style="color: blue" onMouseOver="this.style.background='#CB3D39'" onMouseOut="this.style.background='#F0F0F0'" type="button"
								class="btn" data-dismiss="modal">No</button>

					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="modal fade" id="myModalmessage" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title text-center">{{message}}</h4>
				</div>
			</div>

		</div>
	</div>

	<script type="text/javascript"> 
												 $(function () { 
													$("#datepicker_Addstart").datepicker(); 
													$("#datepicker_Addfinish").datepicker(); 
													$("#datepicker_Editstart").datepicker(); 
													$("#datepicker_Editfinish").datepicker(); 
													}); 
 </script>
</div>