<div ng-controller="dis_controller">
	<div class="container">
		<div class="row">
			<h2 class="sub-header">List of Courses</h2>
			<div class="form-group">
				<button class="btn btn-primary " data-toggle="modal" data-target="#myModalAdd"><span class="glyphicon glyphicon-plus"></span>Add</button>
			</div>
		</div>
	</div>
	<table id="data_table" class="display text-center" width="100%" cellspacing="0">
		<thead>
			<tr>
				<th class="text-center">No.</th>
				<th class="text-center">Code</th>
				<th class="text-center">Name</th>
				<th class="text-center">Hours</th>
				<th class="text-center">Credits</th>
				<th class="text-center">Description </th>
				<th class="text-center">Status</th>
				<th class="text-center"></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th class="text-center">No.</th>
				<th class="text-center">Code</th>
				<th class="text-center">Name</th>
				<th class="text-center">Hours</th>
				<th class="text-center">Credits</th>
				<th class="text-center">Description</th>
				<th class="text-center">Status</th>
				<th class="text-center"></th>
			</tr>
		</tfoot>
	</table>


	<!-- modal ADD -->
	<div class="modal fade container " id="myModalAdd" role="dialog">
		<div class="modal-dialog ">
			<!-- Modal content-->
			<div class="alert alert-success" ng-if="visibility==true">
				<strong>Success!</strong> You have successfully added the subject with code: <b>{{dis_code}}</b>, name <b>{{dis_name}}</b>.
			</div>
			<form name="add" novalidate>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add Course</h4>
					</div>
					<div class="modal-body row">
						<form name="add" novalidate>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label>Course Code</label>
								<div>
									<input style="width:95%; float:left" type="text" class="form-control" id="subjectcode_Add" ng-model="monhoc.dis_code" maxlength="10"
										name="strongSecret" strong-secret required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs">
											<li ng-show="exiss">Course Code Exist</li>
											<li ng-show="required">Please enter into!</li>
										</ul>
										<ul class="error-msgs" ng-messages="add.strongSecret.$error" ng-if="add.$submitted || add.strongSecret.$dirty">
											<li ng-message="invalid">Input must be valid</li>
											<li ng-message="normal">Input must be a-z or A-Z or 0-9 or letter " - " </li>
											<li ng-message="threeCharactersValidator">Strong secret has to least 3 characters long</li>
											<li ng-message="validnormal">Add letter after letter "-"</li>
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label>Name</label>
								<div>
									<input style="width:95%; float:left" type="text" class="form-control" id="subjectname_Add" ng-model="monhoc.dis_name" name="strongSecret1"
										required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs" ng-messages="add.strongSecret1.$error" ng-if="add.$submitted || add.strongSecret1.$dirty">
											<li ng-show="required1">Please enter into!</li>
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<div style="position:relative">
									<label>Hours</label>
									<div>
										<input type="number" min="0" class="form-control" min="0" style="width:95%; float:left" id="studytime_Add" ng-model="monhoc.dis_hours"
											name="strongSecret2" required><span style="color:red">&nbsp;&#42;</span>
											<ul class="error-msgs" ng-messages="add.strongSecret2.$error" ng-if="add.$submitted || add.strongSecret2.$dirty">
												<li ng-show="required2">Please enter into!</li>
												<li ng-show="add.strongSecret2.$error.min">Negative numbers are not allowed!</li>
												<li ng-show="add.strongSecret2.$error.number">Not valid number!</li>
											</ul>
									</div>
								</div>
							</div>

							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label>Credit</label>
								<div>
									<input type="number" min="0" style="width:95%; float:left" type="text" class="form-control" id="credit_Add" ng-model="monhoc.credits"
										name="strongSecret3" required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs" ng-messages="add.strongSecret3.$error" ng-if="add.$submitted || add.strongSecret3.$dirty">
											<li ng-show="required3">Please enter into!</li>
											<li ng-show="add.strongSecret3.$error.min">Negative numbers are not allowed!</li>
											<li ng-show="add.strongSecret3.$error.number">Not valid number!</li>
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label>Description</label>
								<textarea style="width:95%" class="form-control" rows="3" id="description_Add" ng-model="monhoc.dis_description"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="submit" name="discipline_Add" class="btn btn-primary" ng-click="addmonhoc()"><span class="glyphicon glyphicon-plus"></span>Add</button>
					</div>

				</div>
			</form>
		</div>
	</div>





	<!-- modal Edit -->
	<div class="modal fade container " id="myModalEdit" role="dialog">
		<div class="modal-dialog ">
			<!-- Modal content-->
			<form name="edit" novalidate>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update Course</h4>
					</div>
					<div class="modal-body row">
						<form name="userForm" novalidate>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label>Course Code</label>
								<div>
									<input style="width:95%; float:left" type="text" class="form-control" id="subjectcode_Edit" ng-model="editmonhoc.dis_code"
										maxlength="10" name="strongSecret" strong-secret required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs">
											<li ng-show="exiss">Course Code Exist</li>
											<li ng-show="require">Please enter into!</li>
										</ul>
										<ul class="error-msgs" ng-messages="edit.strongSecret.$error" ng-if="edit.$submitted || edit.strongSecret.$dirty">
											<li ng-message="invalid">Input must be valid</li>
											<li ng-message="normal">Input must be a-z or A-Z or 0-9 or letter " - " </li>
											<li ng-message="threeCharactersValidator">Strong secret has to least 3 characters long</li>
											<li ng-message="validnormal">Add letter after letter "-"</li>
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label>Name</label>
								<div>
									<input style="width:95%; float:left" type="text" class="form-control" id="subjectname_Edit" ng-model="editmonhoc.dis_name"
										name="strongSecret1" required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs" ng-messages="edit.strongSecret1.$error" ng-if="edit.$submitted || edit.strongSecret1.$dirty">
											<li ng-show="required1">Please enter into!</li>
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<div style="position:relative">
									<label>Hours</label>
									<div>
										<input type="number" ng-min="0" class="form-control" style="width:95%; float:left" name="strongSecret2" id="studytime_Edit"
											ng-model="editmonhoc.dis_hours" ng-pattern="" name="strongSecret2" required><span style="color:red">&nbsp;&#42;</span>
											<ul class="error-msgs" ng-messages="edit.strongSecret2.$error" ng-if="edit.$submitted || edit.strongSecret2.$dirty">
												<li ng-show="required2">Please enter into!</li>
												<li ng-show="edit.strongSecret2.$error.min">Negative numbers are not allowed!</li>
												<li ng-show="edit.strongSecret2.$error.number">Not valid number!</li>
											</ul>
									</div>

								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label>Credit</label>
								<div>
									<input type="number" ng-min="0" style="width:95%; float:left" type="text" class="form-control" id="credit_Edit" ng-model="editmonhoc.credits"
										name="strongSecret3" required><span style="color:red">&nbsp;&#42;</span>
										<ul class="error-msgs" ng-messages="edit.strongSecret3.$error" ng-if="edit.$submitted || edit.strongSecret3.$dirty">
											<li ng-show="required3">Please enter into!</li>
											<li ng-show="edit.strongSecret3.$error.min">Negative numbers are not allowed!</li>
											<li ng-show="edit.strongSecret3.$error.number">Not valid number!</li>
										</ul>
								</div>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label>Description</label>
								<textarea style="width:95%" class="form-control" rows="3" id="description_Edit" ng-model="editmonhoc.dis_description"></textarea>
							</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6">
								<label style="display:block">Select status</label>
								<form>
									<label class="radio-inline">
												<input type="radio"  name ="status_Edit" value="1" ng-model="editmonhoc.status" ng-checked="editmonhoc.status==1">
												Active
								</label>
									<label class="radio-inline">
												<input type="radio"  name ="status_Edit" value="0" ng-model="editmonhoc.status" ng-checked="editmonhoc.status==0">
												Inactive

								</label>
								</form>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" ng-click="updatemonhoc()"><span class="glyphicon glyphicon-edit"></span>Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>



	<!-- modal confirm -->
	<div class="container">
		<div class="modal fade" id="myModalConfirm" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">ARE YOU SURE</h4>

					</div>

					<div class="modal-body">
						<p>Do you want to remove data?</p>
					</div>

					<div class="modal-footer">

						<button style="color: blue" onMouseOver="this.style.background='#CB3D39'" onMouseOut="this.style.background='#F0F0F0'" type="button"
							class="btn" data-dismiss="modal" ng-click='remove()'>Yes</button>
							<button style="color: blue" onMouseOver="this.style.background='#CB3D39'" onMouseOut="this.style.background='#F0F0F0'" type="button"
								class="btn" data-dismiss="modal">No</button>

					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="myModalmessage" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title text-center">{{message}}</h4>
				</div>
			</div>

		</div>
	</div>
</div>